@model IEnumerable<BTLClient_Server.Areas.Admin.Models.DTO.ProductDTO>

@{
    ViewBag.Title = "Sản phẩm bán chạy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sản phẩm bán chạy</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div class="form-input-infor">
            @using (Html.BeginForm("HotProduct", "AdminStatistics", FormMethod.Get, new { }))
            {
                <div class="row" style="align-items: center; margin-bottom: 10px;">
                    <div class="col-2">
                        <label>Năm</label>
                        <select class="form-control" name="year">
                            @foreach (var item in ViewBag.year)
                            {
                                var select = "";
                                if (item == ViewBag.yearSelected)
                                {
                                    select = "selected";
                                }
                                <option @select value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Tháng</label>
                        <select class="form-control" name="month">
                            @for (var i = 1; i < 13; i++)
                            {
                                var select = "";
                                if (i == ViewBag.month)
                                {
                                    select = "selected";
                                }
                                <option @select value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-1">
                        <div class="btn-search">
                            <button type="submit" id="Submit" class="btn btn-block btn-success btn-lg" style="padding: 0.35rem 0rem;">
                                Xem
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Tên sản phẩm</th>
                    <th class="text-center">Hình ảnh</th>
                    <th class="text-center">Số lượng bán</th>
                    <th class="text-center">Giá bán</th>
                    <th class="text-center">Giá khuyến mãi</th>
                    <th class="text-center">Danh mục</th>
                    <th class="text-center">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.idSp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten)
                            <a href="~/Product/Details/@item.idSp" target="_blank" title="Xem trước">
                                <i class="fas fa-link" style="font-size: 11px;"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <img src="~/Theme/Image/@item.anhDaiDien" style="height: 30px">
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td class="text-right">
                            @(item.gia.HasValue? item.gia.Value.ToString("N0") : "0")
                        </td>
                        <td class="text-right" style="padding-right:3%">
                            @(item.giaKm.HasValue? item.giaKm.Value.ToString("N0") : "0")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.tenThuongHieu)
                        </td>
                        <td class="text-center">
                            @{ var tt = "";
                                if (item.trangThai == 1)
                                {
                                    tt = "Mới";
                                }
                                else if (item.trangThai == 2)
                                {
                                    tt = "Khuyến mãi";
                                }
                                else if (item.trangThai == 3)
                                {
                                    tt = "Hết hàng";
                                }
                                else if (item.trangThai == 4)
                                {
                                    tt = "Không hoạt động";
                                }
                                else if (item.trangThai == 5)
                                {
                                    tt = "Hot";
                                }
                            }
                            @tt
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
