@using PagedList.Mvc

@model PagedList.IPagedList<BTLClient_Server.EF.DonHang>

@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lịch sử mua hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Khách hàng", "Index", "AdminCustomer")
                    </li>
                    <li class="breadcrumb-item active">Lịch sử mua hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div class="form-search form-search-history-order">
            @using (Html.BeginForm("ListOrder", "AdminCustomer", FormMethod.Get, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-4">
                                <div class="">
                                    Từ:
                                    <input type="date" class="form-control" name="startTime" value="@ViewBag.startTime">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="">
                                    Đến:
                                    <input type="date" class="form-control" name="endTime" value="@ViewBag.endTime">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-default btn-pro" style="background-color: #2ea1f8; flex: auto; ">
                                        <i class="fa fa-search"></i>
                                        Tìm kiếm
                                    </button>
                                    <a href="~/Admin/AdminUser/ListOrder/@ViewBag.userId" class="btn btn-default btn-pro" style="background-color: #34a544; flex: auto; ">
                                        <i class="fas fa-sync-alt"></i>
                                        Tải lại
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Thời gian mua hàng</th>
                    <th class="text-center">Tổng tiền</th>
                    <th class="text-center">Địa chỉ giao hàng</th>
                    <th class="text-center">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a href="~/Admin/AdminHome/Edit/@item.idDon" target="_blank">
                                <i class="fas fa-qrcode"></i>
                                @item.idDon
                            </a>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ngayDat)
                        </td>
                        <td class="text-center">
                            @(item.tongTien.HasValue? item.tongTien.Value.ToString("N0") : "0")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.diaChiGiao)
                        </td>
                        <td class="text-center">
                            @if (item.trangThai == 1)
                            {
                                <span>Chờ xác nhận</span>
                            }
                            else if (item.trangThai == 5)
                            {
                                <span>Đã nhận được hàng</span>
                            }
                            else if (item.trangThai == 2)
                            {
                                <span>Đã thanh toán</span>
                            }
                            else if (item.trangThai == 3)
                            {
                                <span>Hoàn thành</span>
                            }
                            else if (item.trangThai == 4)
                            {
                                <span>Hủy đơn</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 history-order">
                @Html.PagedListPager(Model, PageNum => Url.Action("ListOrder", new { PageNum, @startTime = @ViewBag.startTime, @endTime = @ViewBag.endTime }))
            </div>
        </div>

    </div>
</section>
