
@{
    ViewBag.Title = "XemDonHangDaMua";
    var lstDonHang= ViewBag.lstDonHang;
}
<style>
    .cddiaChi {
        max-width: 230px;
    }
</style>
<div layout:fragment="content-main">
    <div class="sec sec__shopcart">
        <div class="container">
            <div class="title">Thông tin đơn hàng</div>
            <div class="content" id="data_ChiTietDonHang">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align: center;">MĐH</th>
                            <th scope="col" style="text-align: center;">Ngày đặt</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col" style="text-align: center;">Tổng tiền</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col" style="text-align: center;">Trạng thái</th>
                            <th scope="col" style="text-align: center;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lstDonHang != null)
                        {
                            foreach (var item in lstDonHang)
                            {
                                <tr>
                                    <th style="text-align: center;">@item.idDon</th>
                                    <td style="text-align: center;">@item.ngayDat.ToString("dd-MM-yyyy")</td>
                                    <td class="cddiaChi">@item.diaChiGiao</td>
                                    <td style="text-align: center;">@item.tongTien.ToString("N0")</td>
                                    <td>@item.moTa</td>
                                    <td style="text-align: center;">
                                        @if (item.trangThai == 1)
                                        {
                                            <span>Chờ xác nhận</span>
                                        }
                                        else if (item.trangThai == 3 || item.trangThai == 2)
                                        {
                                            <span>Chờ giao</span>
                                        }
                                        else if (item.trangThai == 4)
                                        {
                                            <span>Hủy đơn</span>
                                        }
                                        else if (item.trangThai == 5)
                                        {
                                            <span>Đã nhận được hàng</span>
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="#" class="btn btn-primary" onclick="ChiTietDonHang('@item.idDon')">Chi tiết</a>
                                        @if (item.trangThai == 1)
                                        {
                                            <a href="#" class="btn btn-danger" onclick="HuyDonDatHang('@item.idDon')">Hủy đơn đặt hàng</a>
                                        }
                                        @if (item.trangThai == 3 || item.trangThai == 2)
                                        {
                                            <a href="#" class="btn btn-primary" onclick="DaNhanHang('@item.idDon')">Đã nhận hàng</a>
                                        }
                                        @if (item.trangThai == 4)
                                        {
                                            <a href="#" class="btn btn-primary" onclick="DatHang('@item.idDon')">Đặt hàng</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chi Tiết đơn hàng </h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="ChiTietDonHang">

                </div>

            </div>
        </div>
    </div>
    <script>

        function LoadDonHang() {
            $("#data_ChiTietDonHang").load("/SanPham/XemDonHangDaMuaLoad", "", function (data) { })
        }

        function DatHang(id) {
            swal.fire({
                title: '',
                text: 'Chắc chắn đặt đơn hàng?',
                icon: 'question',
                customClass: {
                    confirmButton: 'btn btn-primary ml-2 text-center',
                    cancelButton: 'btn btn-primary ml-2 text-center'

                },
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: 'Chấp nhận',
                cancelButtonText: 'Không chấp nhận',
                reverseButtons: false,
            })
                .then((result) => {
                    if (result.value) {
                        $.post("/SanPham/DatHang", { "IdSanPham": id }, function (data) {
                            if (data.Icon == "success" && data.Data != "error") {
                                MessageBox(data.Title, data.Icon);
                                LoadDonHang();
                            }
                            else {
                                MessageBox(data.Title, data.Icon);
                            }
                        });
                    }
                })
        }

        function DaNhanHang(id) {
            swal.fire({
                title: '',
                text: 'Chắc chắn đã nhận được hàng?',
                icon: 'question',
                customClass: {
                    confirmButton: 'btn btn-primary ml-2 text-center',
                    cancelButton: 'btn btn-primary ml-2 text-center'

                },
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: 'Chấp nhận',
                cancelButtonText: 'Không chấp nhận',
                reverseButtons: false,
            })
                .then((result) => {
                    if (result.value) {
                        $.post("/SanPham/NhanDonHang", { "IdSanPham": id }, function (data) {
                            if (data.Icon == "success") {
                                MessageBox(data.Title, data.Icon);
                                LoadDonHang();
                            }
                            else {
                                MessageBox(data.Title, data.Icon);
                            }
                        });
                    }
                })
        }


        function HuyDonDatHang(id) {
            swal.fire({
                title: '',
                text: 'Chắc chắn hủy đơn đặt hàng này?',
                icon: 'question',
                customClass: {
                    confirmButton: 'btn btn-primary ml-2 text-center',
                    cancelButton: 'btn btn-primary ml-2 text-center'

                },
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: 'Chấp nhận',
                cancelButtonText: 'Không chấp nhận',
                reverseButtons: false,
            })
                .then((result) => {
                    if (result.value) {
                        $.post("/SanPham/HuyDonDatHang", { "IdSanPham": id }, function (data) {
                            if (data.Icon == "success") {
                                MessageBox(data.Title, data.Icon);
                                LoadDonHang();
                            }
                            else {
                                MessageBox(data.Title, data.Icon);
                            }
                        });
                    }
                })
            }

    	function ChiTietDonHang(IdDonHang)
    	{
            $("#ChiTietDonHang").load("/SanPham/ChiTiet_DonHang",{"IdDonHang":IdDonHang},function(data)
 			{
				$("#myModal").modal("show");
 			});
    	}
    </script>
</div>