@using PagedList.Mvc

@model PagedList.IPagedList<BTLClient_Server.Areas.Admin.Models.DTO.ProductDTO>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div class="form-search">
            @using (Html.BeginForm("Index", "AdminProduct", FormMethod.Get, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-3">
                                <div class="">
                                    <input type="text" class="form-control" name="keywords" placeholder="Tên sản phẩm" value="@ViewBag.keywords">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <select class="form-control" name="idThuongHieu">
                                        <option value="0">-- Thương hiệu --</option>
                                        @foreach (var item in ViewBag.lstTra)
                                        {
                                            var select = "";
                                            if (item.idThuongHieu == ViewBag.idThuongHieu)
                                            {
                                                select = "selected";
                                            }
                                            <option @select value="@item.idThuongHieu">@item.tenThuongHieu</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <select class="form-control" name="proStatus">
                                        <option value="0">-- Trạng thái --</option>
                                        @{ var m = "";
                                            var km = "";
                                            var hh = "";
                                            var khd = "";
                                            var hot = "";
                                            if (ViewBag.proStatus == "1")
                                            {
                                                m = "selected";
                                            }
                                            else if (ViewBag.proStatus == "2")
                                            {
                                                km = "selected";
                                            }
                                            else if (ViewBag.proStatus == "3")
                                            {
                                                hh = "selected";
                                            }
                                            else if (ViewBag.proStatus == "4")
                                            {
                                                khd = "selected";
                                            }
                                            else if (ViewBag.proStatus == "5")
                                            {
                                                hot = "selected";
                                            }
                                        }
                                        <option @m value="1">Mới</option>
                                        <option @km value="2">Khuyến mãi</option>
                                        <option @hh value="3">Hết hàng</option>
                                        <option @khd value="4">Không hoạt động</option>
                                        <option @hot value="5">Hot</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <input type="text" class="form-control" name="minPrice" placeholder="Giá thấp nhất" value="@ViewBag.minPrice">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <input type="text" class="form-control" name="maxPrice" placeholder="Giá cao nhất" value="@ViewBag.maxPrice">
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-default btn-pro" title="Tìm kiếm" style="background-color: #2ea1f8; flex: auto; ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="~/Admin/AdminProduct" class="btn btn-default btn-pro" title="Tải lại" style="background-color: #34a544">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @using (Html.BeginForm("Index", "AdminProduct", FormMethod.Post, new { }))
        {
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="~/Admin/AdminProduct/Create" class="create-new">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </a>
                        <button type="submit" class="btn-delete" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                            <i class="fa fa-trash-alt"></i>
                            Xóa
                        </button>
                    </div>
                    <div class="col-md-6">
                        @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @keywords = @ViewBag.keywords, @categoryId = @ViewBag.categoryId, @minPrice = @ViewBag.minPrice, @maxPrice = @ViewBag.maxPrice }))
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" id="checkBoxAll" />
                        </th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Tên sản phẩm</th>
                        <th class="text-center">Hình ảnh</th>
                        <th class="text-center">Giá bán</th>
                        <th class="text-center">Giá khuyến mãi</th>
                        <th class="text-center">Thương hiệu</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">
                            <i class="fas fa-cogs"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="checkBoxId" value="@item.idSp" name="checkBoxId" />
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.idSp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten)
                                <a href="~/Product/Details/@item.idSp" target="_blank" title="Xem trước">
                                    <i class="fas fa-link" style="font-size: 11px;"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <img src="~/Theme/Image/@item.anhDaiDien" style="height: 36px">
                            </td>
                            <td class="text-right">
                                @(item.gia.HasValue? item.gia.Value.ToString("N0") : "0")
                            </td>
                            <td class="text-right" style="padding-right:3%">
                                @(item.giaKm.HasValue? item.giaKm.Value.ToString("N0") : "0")
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.tenThuongHieu)
                            </td>
                            <td class="text-center">
                                @{ var tt = "";
                                    if (item.trangThai == 1)
                                    {
                                        tt = "Mới";
                                    }
                                    else if (item.trangThai == 2)
                                    {
                                        tt = "Khuyến mãi";
                                    }
                                    else if (item.trangThai == 3)
                                    {
                                        tt = "Hết hàng";
                                    }
                                    else if (item.trangThai == 4)
                                    {
                                        tt = "Không hoạt động";
                                    }
                                    else if (item.trangThai == 5)
                                    {
                                        tt = "Hot";
                                    }
                                }
                                @tt
                            </td>
                            <td class="text-center">
                                <a href="~/Admin/AdminProduct/Edit?IdSanPham=@item.idSp" title="Sửa">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                </a>
                                <a href="#" title="Xem phản hồi" onclick="XemPhanHoi('@item.idSp')">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </a>
                                <a href="~/Admin/AdminProduct/Delete/@item.idSp" title="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                    <i class="fas fa-trash-alt" style="color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>
<div class="modal fade" id="modelXemPhanHoi">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height: 300px; " id="dataPhanHoi">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>

        function XemPhanHoi(idSanPham) {
            $("#dataPhanHoi").load("/SanPham/XemPhanHoiSanPham", { "idSanPham": idSanPham }, function (data) {
                $("#modelXemPhanHoi").modal("show");
            });
        }

        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.checkBoxId').prop('checked', true);
                else
                    $('.checkBoxId').prop('checked', false);
            });
        });

    </script>
}